<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todoアプリ</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Monomaniac+One&display=swap" rel="stylesheet">
</head>
<style>
    body{
        background-color:lightgreen;
        font-family: "Monomaniac One", sans-serif;
        padding-top: 55px;
    }
</style>
<body>
    <div class="todoAppWrapper">
        {% block content %}
            
        {% endblock content %}
    </div>
</body>
</html>