{% extends 'todoapp/base.html' %}
{% block content %}

<div class="header">
    <h1>{{request.user}}のタスク</h1>
</div>


<div class="searchWrapper">
    <form method="GET">
        <input class="searchInput" type="text" name="search" value="{{search}}">
        <input class="searchButton" type="submit" value="検索">
    </form>
    <a class="addButton" href="{% url 'create-task' %}">＋</a>
</div>

<div class="tasksWrapper">
    {% for task in tasks %}
    <div class="taskWrapper">
        {% if task.completed %}
        <div class="taskTitle">
            <div class="taskCompletedIcon"></div>
            <s><a href="{% url 'task' task.id %}">{{task}}</a></s>
        </div>
        <div>
            <a href="{% url 'edit-task' task.id %}" class="editButton">&#x270e;</a>
            <a href="{% url 'delete-task' task.id %}" class="deleteButton">×</a>
        </div>
        {% else %}
        <div class="taskTitle">
            <div class="taskInCompletedIcon"></div>
            <a href="{% url 'task' task.id %}">{{task}}</a>
        </div>
        <div>
            <a href="{% url 'edit-task' task.id %}" class="editButton">&#x270e;</a>
            <a href="{% url 'delete-task' task.id %}" class="deleteButton">×</a>
        </div>
        {% endif %}
    </div>
    {% empty %}
    <h3 style="padding-left:20px">タスクはありません</h3>
    {% endfor %}
</div>

<div class="loginAndLogout">
{% if request.user.is_authenticated %}
<form method="POST" action="{% url 'logout' %}" style="padding: 20px">
    {% csrf_token %}
    <button class="searchButton" type="submit">ログアウト</button>
</form>
{% else %}
<a class="searchButton" href="{% url 'login' %}">ログイン</a>
{% endif %}
</div>
{% endblock content %}