{% extends 'todoapp/base.html' %}
{% block content %}

<div class="header">
    <h1>{{request.user}}のタスク</h1>
</div>

{% comment %} <h1>todoリスト</h1>
<a href="{% url 'create-task' %}">タスク追加</a>

<form method="GET">
    <input type="text" name="search" value="{{search}}">
    <input type="submit" value="検索">
</form> {% endcomment %}

{% comment %} <table>
    <tr>
        <th>タスク</th>
    </tr>
    {% for task in tasks %} 
    <tr>
        <td>{{task.title}}</td>
        <td><a href="{% url 'task' task.id %}">確認</a></td>
        <td><a href="{% url 'edit-task' task.id %}">編集</a></td>
        <td><a href="{% url 'delete-task' task.id %}">削除</a></td>
    </tr>
    {% endfor %}
</table> {% endcomment %}

<div class="tasksWrapper">
    {% for task in tasks %}
    <div class="taskWrapper">
        <div class="taskTitle">
            <a href="{% url 'task' task.id %}">{{task}}</a>
        </div>
        <a href="{% url 'edit-task' task.id %}" class="editButton">編集</a>
        <a href="{% url 'delete-task' task.id %}" class="deleteButton">×</a>
    </div>
    {% endfor %}
</div>

<div class="loginAndLogout">
{% if request.user.is_authenticated %}
{% comment %}<p>{{request.user}}</p>{% endcomment %}
<form method="POST" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit">ログアウト</button>
</form>
{% else %}
<a href="{% url 'login' %}">ログイン</a>
{% endif %}
</div>
{% endblock content %}